body {
    display:block;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0;
    text-align: center;

 }
 h1{
    font-size: 3em;  
 }
 p{
    padding: 5rem;
    font-size: 1.4em;
    margin-left: 13em;
    margin-right: 13em;

 }

 img{
    width: 30em;
    height: auto;
 }