body {
   font-family: 'Courier New', Courier, monospace;

}

body {
   background-color: lightgray;
}


header {
   display: flex;
   justify-content: space-between;
   background-color: lightblue;
   padding: 2;
}

.center {
   text-align: right;
padding: 2%;

}
.center {
   color: black;
}

.topicos {
   display: flex;
   padding: 2%;
}

.logo {
   text-align: right;
   padding: 2%;
}
#titulo-h {
   padding: 2;
}

