body {
   font-family: 'Courier New', Courier, monospace;

}

body {
   background-color: white;
   margin: 0;
}


header {
   display: flex;
   justify-content: space-between;
   background-color: rgb(255, 255, 98);
   padding-left: 20px;
}
.center {
   text-align: right;
   padding: 2%;

}

header a{
   text-decoration:none;
   font-size: 18px;
   margin-left: 20px;
}

header a:hover {
   text-decoration: underline; /* Sublinhe o link ao passar o mouse */
}

b a{
   color: black;
}

span{
   background: rgb(255, 255, 98);
}

.topicos {
   display: flex;
   justify-content: space-around;
   padding: 20px;
}

.livros {
   display: flex;
   justify-content: center;
   
}

.tituloLivro{
   text-align: center;
   margin-top: 20px;
}



.logo {
   text-align: right;
   padding: 2%;
   margin: -auto;
}
.quaisTipos {
   text-align: center;
   margin-top: 20px;
   padding: 2%;
}

.desencandeia {
   text-align: center;
   margin-top: 20px;
   padding: 2%;
}

.fatores  {
   text-align: center;
   margin-top: 20px;
   padding: 2%;
}
.ligacao {
   text-align: center;
   margin-top: 20px;
   padding: 2%;
}
.comoSaber {
   text-align: center;
   margin-top: 50px;
   padding: 10%;
}
.teste {
   
   margin-top: 20px;
   padding: 2%;
}
.tituloTeste {
   text-align: center;
}
.mao  {
   display: flex;
   margin-top: 20px;
   padding: 2%;
}
.Ola {
   margin-top: 5px;
   padding: 2%;
}
.nos {
   text-align: center;
   margin-top: 10px;
padding-right: 0%;
}
