body {
   font-family: 'Courier New', Courier, monospace;

}
body{
background-color:lightgray;
}


header {
   display: flex;
   justify-content: space-between;
   background-color:lightblue;
}

.center {
   text-align: right;
}
.topicos {
display: flex;
}
.logo {
   text-align: right;
}

